@charset "UTF-8";
@import "shadows";

/**
* usage:
* button {
*  @include button(#ccc);
* }
*/

// 基础button样式
@mixin button($bgcolor:#ccc) {
  border: none;
  border-radius: 2px;
  height: 35px;
  line-height: 35px;
  outline: 0;
  padding: 0 1.5rem;
  display: inline-flex;
  vertical-align: middle;
  color: #fff;
  background-color: $bgcolor;
  -webkit-tap-highlight-color: transparent;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  @include box-shadow('z-depth-1');
  &:active {
    @include box-shadow('z-depth-3');
    transition-delay: 0s;
  }
}

// Floating button
