@charset "UTF-8";
@import "shadows";

/**
* usage:
* button {
*  @include button(#ccc);
* }
*/

// 基础button样式
@mixin button($bgcolor:#ccc) {
  border: none;
  border-radius: 2px;
  height: 35px;
  line-height: 35px;
  outline: 0;
  padding: 0 1.5rem;
  display: inline-flex;
  vertical-align: middle;
  color: #fff;
  background-color: $bgcolor;
  -webkit-tap-highlight-color: transparent;
  transition: ease-out .2s, ease-in .2s;
  @include box-shadow('z-depth-1');
  &:hover,&:focus {
    @include box-shadow('z-depth-2');
  }
}

// Floating button
