@charset "UTF-8";

// input基础样式
input:not([type]), input[type=text], input[type=password],
input[type=email], input[type=url], input[type=time],
input[type=date], input[type=datetime-local],
input[type=tel], input[type=number], input[type=search] {
  width: 100%;
  height: 35px;
  font-size: 1rem;
  outline: 0;
  box-sizing: border-box;
  box-shadow: none;
  vertical-align: middle;
  border-radius: 0;
}
